<div class="p-grid p-dir-col p-col-8 p-offset-2 main">
<form (ngSubmit)="onSubmit()" ngNativeValidate>
  <div>
    <label>Nom : </label>
    <input type="text" placeholder="Nom" name="Nom" id="Nom" required [(ngModel)]="model.productName"/></div>
  <div>
      <label>Marque : </label>
      <input type="text" placeholder="Marque" name="Brand" id="Brand" required [(ngModel)]="model.brand"/></div>
      <div>
          <label>Product Type : </label>
          <input type="text" placeholder="Product type" name="productType" id="productType" required [(ngModel)]="model.productType"/></div>
      <div>
    <label> Prix : </label>
    <input type="text" placeholder="Prix" name="Prix" id="Prix" required [(ngModel)]="model.price"/>
  </div>
  <div>
    
  <label> Image : </label>

  <p-fileUpload name="image" mode="basic"  url="http://localhost:8098/api/products/image" accept="image/*" maxFileSize="1000000" (onUpload)="onUpload($event)"></p-fileUpload>
  <div *ngIf="model.picture"><img src="http://localhost:8098/{{model.picture}}" width="500px"/>
  </div>
  
    </div>
    
    <div>
    <label> Description : </label>
    <input type="text" placeholder="Description" name="Description" id="Description" required [(ngModel)]="model.description"/>
  </div>
  <div>
    <label> Stock : </label>
    <input type="text" placeholder="Stock" name="Stock" id="Stock" required [(ngModel)]="model.stock"/>
  </div>
  
  <button pButton type="submit" label="Enregistrer les modififications"></button>

</form>
</div>