<!--Attention, la descrption, 'en stock' et l'image sont en dur-->
<h2>{{product.productName}}</h2>
<div class="p-grid">
    <div class="p-col-3">
        <img src="https://image.animedigitalnetwork.fr/license/conan/tv/web/affiche_300x428.jpg" alt="test" />
    </div>
    <div class="p-col-7">
        <p>Marque : {{product.brand}}</p>
        <p>Type : {{product.productType}}</p>
        <p>Prix : {{product.price}} €</p>
        <p>Description :
            {{product.description}}
        </p>
        <label id="stock">En Stock</label>
    </div>
    <div class="p-col-1 p-col-align-center p-offset-1">
        <button pButton routerLink="/cart">Ajouter au panier</button>
    </div>

</div>

