<div class="p-grid p-dir-col p-col-8 p-offset-2 main">
  <p-dataView  [value]="orders"  [paginator]="true" [rows]="10">

    <ng-template let-order pTemplate="listItem">
      <div  class="objetDataView">

        <div > {{order.product.productName}} : {{order.quantity}}</div>
          <button type="button" pButton (click)="deleteOrder(order)"><i class="pi pi-trash"></i></button>
  
      </div>
    </ng-template>
  </p-dataView>

  <button type="button" pButton (click)="validate()"><i class="pi pi-shopping-cart"></i>Valider</button>
  </div>