<!--<p-dataTable [value]="products" [(selection)]="product" selectionMode="single" (onRowSelect)="onRowSelect($event)" [paginator]="true" [rows]="10" [headerCheckboxToggleAllPages]="true">
  <p-column field="productName" header="Produits"></p-column>
  <p-column  header="Actions"><button pButton (click)="activer()">Activer</button></p-column>

</p-dataTable>-->
<div *ngIf="logged&&admin">
  {{message}}
  <p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle" width="425"></p-confirmDialog>
<p-dataView  [value]="products"  [paginator]="true"  [rows]="10" >
  <p-header>
    <p-dataViewLayoutOptions ></p-dataViewLayoutOptions>
  </p-header>
  <ng-template let-p pTemplate="listItem">
    <div class="objetDataView">
      <div *ngIf="!p.visible" class="locked"> {{p.productName}}</div>
      <div *ngIf="p.visible" class="unlocked"> {{p.productName}}</div>
      <div> <button class="ui-button-raised ui-button-secondary" type="button" icon="pi pi-pencil" (click)="update(p.id)" pButton></button>
        <button class="ui-button-raised ui-button-secondary" type="button"  icon="pi pi-trash"  (click)="delete(p.id)"  pButton></button>
        <button class="ui-button-raised ui-button-secondary" type="button"  icon="pi pi-lock" *ngIf="p.visible" (click)="lock(p.id)" pButton></button>
        <button class="ui-button-raised ui-button-secondary" type="button" icon="pi pi-unlock" *ngIf="!p.visible" (click)="unlock(p.id)" pButton></button></div>

    </div>
  </ng-template>
  <ng-template let-p pTemplate="gridItem">
    <div class="ui-g-12 ui-md-3">
      <div *ngIf="!p.visible" class="locked"> {{p.productName}}</div>
      <div *ngIf="p.visible" class="unlocked"> {{p.productName}}</div>
      <div> <button class="ui-button-raised ui-button-secondary" type="button" icon="pi pi-pencil" (click)="update(p.id)" pButton></button>
        <button class="ui-button-raised ui-button-secondary" type="button"  icon="pi pi-trash"  (click)="delete(p.id)"  pButton></button>
        <button class="ui-button-raised ui-button-secondary" type="button"  icon="pi pi-lock" *ngIf="p.visible" (click)="lock(p.id)" pButton></button>
        <button class="ui-button-raised ui-button-secondary" type="button" icon="pi pi-unlock" *ngIf="!p.visible" (click)="unlock(p.id)" pButton></button></div>

    </div>

  </ng-template>
 
</p-dataView>

<app-add-product (envoi)="onClickParent($event)"></app-add-product>
</div>
<div *ngIf="!(logged&&admin)">
  Vous devez être connecté en tant qu'administrateur pour accéder à cette page
</div>