

/* You can add global styles to this file, and also import other style files */
@font-face
{
    font-family: yozakura;
    src:url('./../../Police/yokasura/YOZAKURA-Regular.otf');
}
@font-face
{
     font-family: roboto;
     src:url('./../../Police/roboto/Roboto-Medium.ttf');
}
body
{
    background-color: rgba(234,78,78);
    font-family:  roboto;
}
#nameSite
{
    font-family: yozakura;
    color: aliceblue;
  
}
h1,h2{
font-family:  yozakura;
text-align: center
}

p-menubar .ui-menubar
{
    font-family: roboto !important;
    background-color:  aliceblue !important;
}
.ui-menuitem-text {
    color: rgba(78, 78, 78,1) !important;
}
#product{
    color: black;
}
table {
    font-family: roboto;
    background-color: aliceblue;
}


button{
    font-family: roboto;
}


label{
    text-align: center;
}
  /*
.logg
{
 
    border-right-width: 150px;
    margin-right: 500px;
    margin-left: -200;
    margin-left: 700px;
     height: 150px;

   
    width: 50%;
 
}
    */
.button
{
    text-align: center;
}
.p-grid 
{
    
    background-color: aliceblue;
  /* width: 75%;
    */
}

h2 {
    text-align: center;
}

#stock {
    color: green;
}
div
{
    text-align: center;
}
hr{
    color: black;
}