

/* You can add global styles to this file, and also import other style files */
@font-face
{
    font-family: yozakura;
    src:url('./../../Police/yokasura/YOZAKURA-Regular.otf');
}
@font-face
{
     font-family: roboto;
     src:url('./../../Police/roboto/Roboto-Medium.ttf');
}
body
{
 
    font-family:  roboto;
    margin:0px;
}
#nameSite
{
    font-family: yozakura;
    color: #f5f5f5;
  
}
h1,h2{
font-family:  yozakura;
text-align: center
}

p-menubar .ui-menubar
{
    font-family: roboto !important;
    background-color:  #f5f5f5 !important;
    padding-right:20%;
}
.ui-menuitem-text {
    color: rgba(78, 78, 78,1) !important;
}
#product{
    color: black;
}
table {
    font-family: roboto;
    background-color:  #f5f5f5;
}


.ui-button{
    font-family: roboto;
    padding:5px 20px;
    margin:5px;
}



label{
    text-align: center;
}
  /*
.logg
{
 
    border-right-width: 150px;
    margin-right: 500px;
    margin-left: -200;
    margin-left: 700px;
     height: 150px;

   
    width: 50%;
 
}
    */
.button
{
    text-align: center;
}
.p-grid 
{
    
    background-color:  #f5f5f5;
  /* width: 75%;
    */
}

h2 {
    text-align: center;
}

#stock {
    color: green;
}

.objetDataView{
    text-align: left;
}



div
{
    text-align: center;
}


.first {
    width: 100%;
    background-color: rgba(234,78,78);
    font-family: yozakura;
    color: #ffedea;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

.main {
    color: rgb(113, 113, 113);
    background-color: #ffffff;
    border: #d2d2d2 1px;
    border-style: solid;
}

input{
    height: 30px;
}