<br />
<div class="p-grid p-dir-col p-col-8 p-offset-2 main">

  <form *ngIf="!logged" (ngSubmit)="onSubmit()" class="p-col-align-center">
    <h2>S'inscrire</h2>
    <div>
      <p>Nom : </p>
      <div>
        <input type="text" id="name" name="name" required />
      </div>
    </div>

    <br>

    <div>
      <p>Prenom : </p>
      <div>
        <input type="text" id="firstname" name="firstname" required />
      </div>
    </div>

    <br>
    <div>
      <p>nom d'utilisateur :</p>
      <div>
        <input type="text" id="username" name="username" required />
      </div>
    </div>

    <br>

    <div>
      <p>Adresse :</p>
      <div>
        <input type="text" id="adresse" name="adresse" required />
      </div>
    </div>

    <br/>

    <div>
      <p>Code postal :</p>
      <div>
        <input type="text" id="postalcode" name="postalcode" required />
      </div>
    </div>

    <br>

    <button pButton type="submit" class="ui-button-raised ui-button-secondary">S'inscrire</button>
  </form>
</div>