
<!-- <p-dataTable [value]="products" [globalFilter]="gb" [(selection)]="product" selectionMode="single" (onRowSelect)="onRowSelect($event)"
    filteredValue="products" [paginator]="true" [rows]="10" [headerCheckboxToggleAllPages]="true" #dt>
    <p-column field="productName" header="Produits"></p-column>
    <p-column field="productType" header="Type de produit" [filter]="true" filterMatchMode="equals">
        <ng-template pTemplate="filter" let-col>
            <p-dropdown [options]="types" [style]="{'width':'100%'}" (onChange)="dt.filter($event.value,col.field,col.filterMatchMode)"
                styleClass="ui-column-filter"></p-dropdown>
        </ng-template>
    </p-column>
</p-dataTable> -->

<p-table #dt [columns]="cols" [value]="products" [(selection)]="product" selectionMode="single" (onRowSelect)="onRowSelect($event)"
    filteredValue="products" [paginator]="true" [rows]="10">

    <ng-template pTemplate="header" let-columns>
        <tr>
            <th *ngFor="let col of columns">
                {{col.header}}
            </th>
        </tr>
        <tr>
            <th *ngFor="let col of columns" [ngSwitch]="col.field">
                <p-multiSelect *ngSwitchCase="'productType'" [options]="types" defaultLabel="Tous les types" (onChange)="dt.filter($event.value, col.field, 'in')"></p-multiSelect>
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr [pSelectableRow]="rowData">
            <td *ngFor="let col of columns">
                {{rowData[col.field]}}
            </td>
        </tr>

    </ng-template>
</p-table>
