
<!--The content below is only a placeholder and can be replaced.-->

 
    <div id="nameSite" >
      <h1 class="first">
        {{ title }}
      </h1>
      <div *ngIf="!logged">
        <app-menu></app-menu>
      </div>
      <div *ngIf="logged && !admin">
        <app-menu-bar-details></app-menu-bar-details>
      </div>
      <div *ngIf="logged && admin">
        <app-menu-administrateur></app-menu-administrateur>
      </div>
    </div>
    <div>
      <app-search-product></app-search-product>
    </div>
    <router-outlet></router-outlet>

